@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Requester #1</h2>
        <div class="requester">
            <div class="content"><p>Click the button to request and hold a lock.</p></div>
            <button data-requester="1">Request</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Requester #2</h2>
        <div class="requester">
            <div class="content"><p>Click the button to request and hold a lock.</p></div>
            <button data-requester="2">Request</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Requester #3</h2>
        <div class="requester">
            <div class="content"><p>Click the button to request and hold a lock.</p></div>
            <button data-requester="3">Request</button>
        </div>
    </div>
</div>
